body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.accordion-item {
    border: 1px solid #a28f00;
    margin: 4px;
}

.accordion-header {
    background-color: #18e3fa;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    padding: 10px;
    display: none;
}